<md-card *ngIf="category">
  <md-card-title>{{ category.name }}</md-card-title>
  <md-card-subtitle><app-breadcrumb [category]="category"></app-breadcrumb></md-card-subtitle>
  
  <md-nav-list>
    <h3 md-subheader>Potkategorije</h3>
    <md-list-item *ngFor="let cat of category.children" (click)="onSelectCategory(cat)">
      {{ cat.name }}
    </md-list-item>
    <h3 md-subheader>Proizvodi</h3>
    <md-list-item *ngFor="let prod of category.products" (click)="onSelectProduct(prod)">
      {{ prod.name }}
    </md-list-item>
  </md-nav-list>

</md-card>